<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="test.Practice12Test"/>
      <class name="test.NewTest"/>
      <class name=".WebEventListener"/>
      <class name="test.AssertTest"/>
      <class name=".TestNGtest"/>
      <class name=".eventListenersExample"/>
      <class name="test.NewTest1"/>
      <class name="test.projectAndCustomerTest"/>
      <class name="test.FirstTest"/>
      <class name=".brokenLinks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
